@use "./variables" as *;

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.625rem;
    align-items: center;

    &__name {
        //justify-self: center;
        font-family: $font-headers;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.15625rem;
    }

    &__links {
        display: none;
        //display: flex; /* Hidden in mobile view */
        font-family: $font-body;
        font-size: 0.9rem;

        &--link {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            text-decoration: none;
            color: inherit;
        }
    }
}

/* Header, About, Portfolio, Contact */
.header,
.about,
.portfolio,
.contact {
    padding: 1rem;
    text-align: center;
}

/* Header Section */
.header {
    text-align: left;
    padding: 1rem;
    margin: 0.625rem 0.625rem;

    &__title {
        font-family: $font-headers;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 4.1rem;
        margin: 0 0.03125rem;
        color: $color-header;
    }

    &__description {
        text-align: justify;
        font-size: 0.9rem;
        margin-top: 2.8125rem;
        margin-left: 0.03125rem;


    }
}

/* About Section */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify; //left I want to keep to original template
    margin: 0.625rem 0.625rem;

    &__title {
        font-family: $font-headers;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        margin-left: 0.03125rem;
        color: $color-header;
    }

    &__image {
        max-width: 100%;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        justify-self: unset;
    }

    &__text {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        width: auto;

    }
}

/* Skills Section - hidden in mobile view */
.skills {
    display: none;
}

/* Portfolio Section */
.portfolio {

    &__project-figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.625rem 0.625rem;
    }

    &__project-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0.625rem;
        margin-bottom: 0.9375rem;
    }

    &__project-buttons {
        display: flex;
        gap: 0.625rem;
    }

    &__project-name {
        font-family: $font-headers;
        font-weight: 400;
        font-size: 2rem;
    }

    &__title {
        font-family: $font-headers;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        color: $color-header;
    }

    &__project-img {
        max-width: 100%;
    }
}

/* Contact Section */
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &__heading {
        font-family: $font-headers;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 4.5rem;
        margin: 1.875rem 0.03125rem;
        color: $color-header;
    }

    &__button {
        font-size: 1.125rem;
        padding: 0.3125rem;
        border: 2px solid $color-header;
        width: 16rem;
        height: 4.5rem;
        background-color: $color-white;
        margin-bottom: 1.875rem;
        align-self: center;
    }
}

/* Footer Section */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;
    background-color: $color-black;

    &__icon {
        background-color: $color-black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.45rem;
    }

    &__icon-img {
        background-color: transparent;
    }
}


/* Media Query for larger screens */
@media screen and (min-width: 768px) {

    html {
        font-size: 18px;
        /* Slightly larger base font size on larger screens */
    }

    p {
        font-size: 0.8rem;
    }

    .navbar {
        justify-content: space-between;
        margin: 2rem 2rem;
        /* Align items on opposite ends */

        &__name {
            margin: rem;
        }

        &__links {
            display: flex;
            align-items: center;

            &--link {
                display: inline-block;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 2rem;

        &__title {
            text-align: center;
            margin: 1rem auto;
        }

        &__description {
            width: 56%;
            font-size: 0.8rem;
        }
    }

    .about {
        display: grid;
        height: auto;
        grid-template-columns: 1.5fr 1fr; 
        grid-template-rows: auto 1fr; 
        gap: 2rem;
        margin: 0 2rem;

        &__title {
            grid-area: title; 
            align-self: center;
            margin-top: 2rem;
        }

        &__text {
            grid-area: text; 
            align-self: center;
            margin-bottom: 2rem;
            font-size: 0.8rem;
        }

        &__image {
            grid-area: image; 
            width: 100%; 
            height: auto; 
        }

        grid-template-areas: 
            "title image"
            "text image";
    }

}

/* TO DO - Adjust layout for larger screens */