@use "./variables" as *;

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    padding: 0.625rem;
    align-items: center;

    &__name {
        //justify-self: center;
        font-family: $font-headers;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.15625rem;
    }

    &__links {
        display: none;
        //display: flex; /* Hidden in mobile view */
        font-family: $font-body;
        font-size: 0.9rem;
    }

    &__link {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        text-decoration: none;
        color: inherit;
    }

    &__link:hover {
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}

/* Header, About, Portfolio, Contact */
.header,
.about,
.portfolio,
.contact {
    padding: 1rem;
    text-align: center;
}

/* Header Section */
.header {
    text-align: left;
    padding: 1rem;
    margin: 0.625rem 0.625rem;

    &__title {
        font-family: $font-headers;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 4.2rem;
        margin: 0 0.03125rem;
        color: $color-header;
    }

    &__description {
        text-align: justify;
        font-size: 0.9rem;
        margin-top: 2.8125rem;
        margin-left: 0.03125rem;
    }
}

/* About Section */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify; //left I want to keep to original template
    margin: 0.625rem 0.625rem;

    &__title {
        font-family: $font-headers;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        margin-left: 0.03125rem;
        color: $color-header;
    }

    &__image {
        max-width: 100%;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        justify-self: center;
    }

    &__text {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        width: auto;
    }
}

/* Skills Section - hidden in mobile view */
.skills {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 2rem;
    padding: 1rem;

    &__text {
        display: flex;
        align-items: center;
        text-align: justify;
        gap: 1.5rem;
        justify-content: space-around;
    }

    &__title {
        font-family: $font-headers;
        font-size: 2rem;
        color: $color-header;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__icon {
        margin: 0.3rem;
        height: 3.2rem;
        width: 3.2rem;
    }
}

/* Portfolio Section */
.portfolio {

    &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.625rem 0.625rem;

        &--tablet {
            display: none;
        }

        &--laptop {
            display: none;
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 0.625rem;
        margin-bottom: 0.9375rem;
    }

    &__buttons {
        display: flex;
        gap: 0.625rem;
    }

    &__button:hover {
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }

    &__name {
        font-family: $font-headers;
        font-weight: 400;
        font-size: 1.6rem;
    }

    &__title {
        font-family: $font-headers;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        color: $color-header;
    }

    &__img {
        max-width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__labels {
        display: none;
        font-family: $font-body;
        font-size: 0.5rem;
        font-weight: 600;
        padding-left: 0.8rem;
        padding-top: 0.8rem;
        gap: 2rem;
    }
}

/* Contact Section */
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &__heading {
        font-family: $font-headers;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 4.5rem;
        margin: 1.875rem 0.03125rem;
        color: $color-header;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        padding: 0.3125rem;
        border: 2px solid $color-header;
        width: 16rem;
        height: 4.5rem;
        background-color: $color-white;
        margin-bottom: 1.875rem;
        align-self: center;
    }

    &__button:hover {
        transition: transform 0.3s ease;
        background-color: darken($color-white, 10%);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}

/* Footer Section */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;
    background-color: $color-black;

    &__icon {
        background-color: $color-black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.4rem;
    }

    &__icon-img {
        background-color: transparent;
    }

    &__icon:hover {
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }
}


/* Media Query for tablet screen */
@media screen and (min-width: 768px) {

    html {
        font-size: 18px;
        /* Slightly larger base font size on larger screens */
    }

    p {
        font-size: 0.8rem;
    }

    .navbar {
        justify-content: space-between;
        margin: 2rem 2rem;
        /* Align items on opposite ends */

        &__name {
            margin: rem;
        }

        &__links {
            display: flex;
            align-items: center;

            &--link {
                display: inline-block;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 2rem;

        &__title {
            text-align: center;
            margin: 1rem auto;
        }

        &__description {
            width: 56%;
            font-size: 0.8rem;
        }
    }

    .about {
        display: grid;
        height: auto;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        margin: 0 2rem;

        &__title {
            grid-area: title;
            align-self: center;
            margin-top: 2rem;
        }

        &__text {
            grid-area: text;
            align-self: center;
            margin-bottom: 2rem;
            font-size: 0.8rem;
        }

        &__image {
            grid-area: image;
            width: 100%;
            height: auto;
        }

        grid-template-areas: "title image"
        "text image";
    }

    .skills {
        display: flex;
    }

    .portfolio {

        &__project {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__figure {

            &--tablet {
                display: flex;
            }
        }

        &__title {
            margin-left: 2rem;
        }

        &__labels {
            display: flex;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__heading {
            margin-bottom: 2.5rem;
        }

        &__button {
            width: 15rem;
            height: 4rem;
            margin-bottom: 3.5rem;
        }
    }

    .footer {
        padding: 1rem;

        &__icon {
            margin: 0 0.7rem;
        }
    }
}

/* TO DO - Adjust layout for larger screens */