@use "./variables" as *;

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;
    padding: 0.625rem;
    align-items: center;

    &__name {
        font-family: $font-headers;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.15rem;
    }

    &__links {
        list-style: none;
        display: none;
        font-family: $font-body;
        font-size: 0.9rem;
    }

    &__link {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        text-decoration: none;
    }

    &__link:hover {
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        color: $color-pink;
    }
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {

    .navbar {
        justify-content: space-between;
        margin: 2rem 2rem;

        &__name {
            margin: rem;
        }

        &__links {
            display: flex;
            align-items: center;

            &--link {
                display: inline-block;
            }
        }
    }
}

/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {

    .navbar {
        justify-content: space-between;
        margin: 3rem 4rem;

        &__name {
            font-size: 1.7rem;
        }

        &__links {
            display: flex;
            align-items: center;

            &--link {
                display: inline-block;
            }
        }
    }
}