@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

/* Fonts */
$font-body: "Inter", sans-serif;
$font-headers: "Cormorant", sans-serif;

/* Color palette, set 1: pink-purple-blue */
$color-violet: #926F89;
$color-navy: #181D45;
$color-sky: #5670A3;
$color-pink: #D9C0B9;
$color-pale: #F0E1DC;
$color-white: #FFFFFF;
$color-black: #000000;

/* Color palette, set 2: lavender-sea */
$color-lavender: #CCABD8;
$color-purple: #8474A1;
$color-delicate-lavender: #CEC7FD;
$color-sea: #6EC6CA;
$color-dark-sea: #08979D;
$color-green: #055B5C;