@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

/* Fonts */
$font-body: "Inter", sans-serif;
$font-headers: "Cormorant", sans-serif;

/* Color palette for the portfolio project */
$color-navy: #181D45;
$color-sky: #5670A3;
$color-pink: #D9C0B9;
$color-pale: #F0E1DC;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #92A1B5;
$color-dark: #25282d;
$color-header: #383838;