@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

/* Fonts */
$font-body: "Inter", sans-serif;
$font-headers: "Cormorant", sans-serif;

/* Color palette for the portfolio project */
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #25282d;
$color-header: #383838;
$color-pink: #AA336A;