@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap");
/* Fonts */
/* Color palette, set 1: pink-purple-blue */
/* Color palette, set 2: lavender-sea */
/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0.625rem;
  align-items: center;
}
.navbar__name {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.15625rem;
}
.navbar__links {
  display: none;
  font-family: "Inter", sans-serif;
}
.navbar__links--link {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  text-decoration: none;
  color: inherit;
}

/* Header, About, Portfolio, Contact */
.header,
.about,
.portfolio,
.contact {
  padding: 1rem;
  text-align: center;
}

.header {
  text-align: left;
  padding: 1rem;
}
.header__title {
  font-family: "Cormorant", sans-serif;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0 0.03125rem;
}
.header__description {
  font-size: 1rem;
  margin-top: 2.8125rem;
  margin-left: 0.03125rem;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin: 0.625rem 0.625rem;
}
.about__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  margin-left: 0.03125rem;
}
.about__image {
  max-width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  justify-self: unset;
}
.about__about-text {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

/* Skills - hidden in mobile view */
.skills {
  display: none;
}

.portfolio__project-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.9375rem;
}
.portfolio__project-buttons {
  display: flex;
  gap: 0.625rem;
}
.portfolio__project-name {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
.portfolio__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.portfolio__project-img {
  max-width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.contact__heading {
  font-family: "Cormorant", sans-serif;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 1.875rem 0.03125rem;
}
.contact__button {
  font-size: 1.125rem;
  padding: 0.3125rem;
  border: 2px solid #5670A3;
  width: 17rem;
  height: 4.5rem;
  background-color: #FFFFFF;
  margin-bottom: 1.875rem;
  align-self: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  background-color: #000000;
}
.footer__icon {
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.45rem;
}
.footer__icon-img {
  background-color: transparent;
}

/* Media Query for larger screens */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
    /* Slightly larger base font size on larger screens */
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar__link {
    display: inline-block;
    /* Show navbar links */
    margin-left: 1rem;
  }
}
/* TO DO - Adjust layout for larger screens */
* {
  margin: 0;
  padding: 0;
  background-color: #CEC7FD;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #5670A3;
  text-decoration: none;
}

/* this base font size allows to control the scaling across the whole project */
html,
body {
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */