@use "./variables" as *;
@use "./layout";

@use "./navbar";
@use "./header";
@use "./about";
@use "./skills";
@use "./portfolio";
@use "./contact";
@use "./footer";

* {
    margin: 0;
    padding: 0;
    background-color: $color-grey;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
    text-decoration: none;
}

/* Header, About, Portfolio, Contact */
.header,
.about,
.portfolio,
.contact {
    padding: 1rem;
    text-align: center;
}

/* this base font size allows to control the scaling across the whole project */
html {
    font-size: 16px;
}