@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap");
/* Fonts */
/* Color palette for the portfolio project */
/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding: 0.625rem;
  align-items: center;
}
.navbar__name {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.15rem;
}
.navbar__links {
  list-style: none;
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.navbar__link {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
}
.navbar__link:hover {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  color: #AA336A;
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    margin: 2rem 2rem;
  }
  .navbar__name {
    margin: rem;
  }
  .navbar__links {
    display: flex;
    align-items: center;
  }
  .navbar__links--link {
    display: inline-block;
  }
}
/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {
  .navbar {
    justify-content: space-between;
    margin: 3rem 4rem;
  }
  .navbar__name {
    font-size: 1.7rem;
  }
  .navbar__links {
    display: flex;
    align-items: center;
  }
  .navbar__links--link {
    display: inline-block;
  }
}
/* Header Section */
.header {
  padding: 1rem;
  margin: 0.625rem 0.625rem;
}
.header__title {
  font-family: "Cormorant", sans-serif;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 4.2rem;
  margin: 0 0.03rem;
  color: #383838;
  text-align: left;
}
.header__title--pink {
  color: #AA336A;
}
.header__description {
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 2.8rem;
  margin-left: 0.03rem;
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  p {
    font-size: 0.8rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2rem;
  }
  .header__title {
    text-align: center;
    margin: 1rem auto;
  }
  .header__description {
    width: 56%;
    font-size: 0.8rem;
  }
}
/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 4rem;
  }
  .header__title {
    text-align: center;
    margin: 1rem auto;
    font-size: 4.9rem;
  }
  .header__description {
    text-align: left;
    width: 45%;
    font-size: 0.8rem;
    margin-left: 3.5rem;
  }
}
/* About Section */
.about {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  margin: 0.625rem 0.625rem;
}
.about__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 0.03rem;
  color: #383838;
}
.about__image {
  max-width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  justify-self: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}
.about__text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  width: auto;
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  .about {
    display: grid;
    height: auto;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    margin: 0 2rem;
    grid-template-areas: "title image" "text image";
  }
  .about__title {
    grid-area: title;
    align-self: center;
    margin-top: 2rem;
  }
  .about__text {
    grid-area: text;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }
  .about__image {
    grid-area: image;
    width: 100%;
    height: auto;
  }
}
/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {
  .about {
    display: grid;
    height: auto;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    margin: 0 4rem;
    grid-template-areas: "title image" "text image";
  }
  .about__title {
    grid-area: title;
    align-self: center;
    margin-top: 5rem;
  }
  .about__text {
    grid-area: text;
    align-self: center;
    margin-bottom: 3.5rem;
    font-size: 0.8rem;
  }
  .about__image {
    grid-area: image;
    width: 83%;
    height: auto;
    justify-self: end;
  }
}
/* Skills Section - hidden in mobile view */
.skills {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 2rem;
  padding: 1rem;
}
.skills__text {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 1.5rem;
  justify-content: space-around;
}
.skills__title {
  font-family: "Cormorant", sans-serif;
  font-size: 2rem;
  color: #383838;
}
.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.skills__icon {
  margin: 0.3rem;
  height: 3.2rem;
  width: 3.2rem;
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    font-size: 0.8rem;
  }
}
/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {
  .skills {
    margin: 0 4rem;
    display: flex;
    font-size: 0.8rem;
  }
  .skills__icon {
    margin: 0.3rem;
    height: 4.5rem;
    width: 4.5rem;
  }
  .skills__text {
    gap: 7rem;
  }
}
/* Portfolio Section */
.portfolio {
  padding: 1rem;
}
.portfolio__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625rem 0.625rem;
}
.portfolio__figure--tablet {
  display: none;
}
.portfolio__figure--laptop {
  display: none;
}
.portfolio__details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.9375rem;
}
.portfolio__buttons {
  display: flex;
  gap: 0.625rem;
}
.portfolio__button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.portfolio__name {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.portfolio__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  color: #383838;
}
.portfolio__img {
  max-width: 100%;
}
.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio__labels {
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 0.55rem;
  font-weight: 600;
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  gap: 2rem;
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 1rem;
  }
  .portfolio__project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__figure--tablet {
    display: flex;
  }
  .portfolio__title {
    margin-left: 2rem;
  }
  .portfolio__labels {
    display: flex;
  }
}
/* Media Query for laptop screen */
@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 1rem;
  }
  .portfolio__project {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }
  .portfolio__figure {
    width: 100%;
    max-width: 17.5rem;
  }
  .portfolio__figure--tablet {
    display: flex;
  }
  .portfolio__title {
    margin-left: 2rem;
  }
  .portfolio__labels {
    display: flex;
  }
}
/* Media Query for desktop screen */
@media screen and (min-width: 1440px) {
  .portfolio {
    padding: 1rem;
  }
  .portfolio__project {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .portfolio__figure {
    width: 100%;
    max-width: 17.95rem;
    margin: 0;
  }
  .portfolio__figure--tablet {
    display: flex;
  }
  .portfolio__figure--laptop {
    display: flex;
  }
  .portfolio__image {
    width: 100%;
    height: auto;
  }
  .portfolio__title {
    margin-left: 4rem;
  }
  .portfolio__labels {
    display: flex;
  }
}
/* Contact Section */
.contact {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.contact__heading {
  font-family: "Cormorant", sans-serif;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 1.875rem 0.03rem;
  color: #383838;
}
.contact__heading--pink {
  color: #AA336A;
}
.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  padding: 0.313rem;
  border: 2px solid #383838;
  width: 16rem;
  height: 4.5rem;
  background-color: #FFFFFF;
  margin-bottom: 1.875rem;
  align-self: center;
}
.contact__button:hover {
  transition: transform 0.3s ease;
  background-color: #e6e6e6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  p {
    font-size: 0.8rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__heading {
    margin-bottom: 2.5rem;
  }
  .contact__button {
    width: 15rem;
    height: 4rem;
    margin-bottom: 3.5rem;
  }
}
/* Footer Section */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  background-color: #000000;
}
.footer__icon {
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.4rem;
}
.footer__icon-img {
  background-color: transparent;
}
.footer__icon:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

/* Media Query for tablet screen */
@media screen and (min-width: 768px) {
  p {
    font-size: 0.8rem;
  }
  .footer {
    padding: 1rem;
  }
  .footer__icon {
    margin: 0 0.7rem;
  }
}
* {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-decoration: none;
}

/* this base font size allows to control the scaling across the whole project */
html {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 21px;
  }
}/*# sourceMappingURL=main.css.map */