@use "./variables" as *;
@use "./navbar";
@use "./header";
@use "./about";
@use "./skills";
@use "./portfolio";
@use "./contact";
@use "./footer";

* {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
    text-decoration: none;
}

/* This base font size allows to control the scaling across the whole project */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

@media screen and (min-width: $breakpoint-tablet) {

    html {
        font-size: 17px;
    }
}

@media screen and (min-width: $breakpoint-laptop) {

    html {
        font-size: 19px;
    }
}

@media screen and (min-width: $breakpoint-desktop) {

    html {
        font-size: 21px;
    }
}

