@use "./variables" as *;
@use "./navbar";
@use "./header";
@use "./about";
@use "./skills";
@use "./portfolio";
@use "./contact";
@use "./footer";

* {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
    text-decoration: none;
}

/* this base font size allows to control the scaling across the whole project */
html {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {

    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 1440px) {

    html {
        font-size: 21px;
    }
}

